<div *ngIf ="tokens else elseblock" >
<h1 *ngIf="errors">Please reload page api is too busy</h1>
<h1 style="text-align: center;">EMPLOYEES</h1>
<table border="1" class="employee">
<tr>
  <th>ID</th>
  <th>Name</th>
  <th>Age</th>
  <th></th>
</tr>
<tr *ngFor ="let item of data['data']">
  <td>{{item.id}}</td>
  <td>{{item.employee_name}}</td>
  <td>{{item.employee_age}}</td>

  <td><a routerLink="/employees/{{item.id}}"> More Details</a></td>
</tr>
</table>
</div>
<ng-template #elseblock>
  <app-root></app-root>
</ng-template>
